# dependencies
node_modules/

# build outputs
dist/

# turbo cache
.turbo/

# env files
.env
.env.*
!.env.example

# load testing results
scripts/load-testing/results/*.json
html-report.html

# terraform
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
terraform/**/terraform.tfvars

# repos
sample-eks-kubernetes-gateway-api